# Example environment file for docker compose
# Copy this to '.env' in the same path as your docker-compose.yml file, and make
# the changes you need.

# Change the secret key into something random, especially if you are running parlhist
# in production
PARLHIST_DJANGO_SECRET_KEY="change_me_into_something_random"
# Set this to any value to enable debug mode
PARLHIST_DEBUG=""
PARLHIST_DJANGO_ALLOWED_HOSTS="127.0.0.1,localhost"
PARLHIST_DJANGO_LOG_LEVEL="DEBUG"
PARLHIST_DATABASE_TYPE="postgres"
POSTGRES_DATABASE="parlhist_db"
POSTGRES_USER="parlhist_user"
POSTGRES_PASSWORD="changeme"

PARLHIST_OPENSEARCH_ENABLED="True"
PARLHIST_OPENSEARCH_HTTP_AUTH_USER="admin"
PARLHIST_OPENSEARCH_HTTP_AUTH_PASSWORD="changeme"
PARLHIST_OPENSEARCH_HOST="opensearch-node1"