-r requirements.txt

# Improve code quality
pylint>=3.0.3
flake8>=7.0.0
mypy>=1.8.0

# Types
types-requests
types-beautifulsoup4

# Analyze license compliance of dependencies
pip-licenses>=4.3.3

# Analyze dependency tree
pipdeptree>=2.13.0

#jupyter
