# SPDX-FileCopyrightText: 2023-2025 Martijn Staal <parlhist [at] martijn-staal.nl>
#
# SPDX-License-Identifier: EUPL-1.2

pip>=25.0

# Crawling
beautifulsoup4>=4.13.4
requests>=2.32.3

# Framework
django>=5.2
psycopg[binary,pool]>=3.2

gunicorn>=21.2.0

numpy>=1.26.4
rdflib>=7.1.4

opensearch-py>=2.8.0
